<template name="KindergartenEditor" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 well" >
            <form class="form-horizontal">
                <fieldset>
                    <legend>{{_ 'kindergarten'}}</legend>
                    <div class="form-group {{#if requireName}}has-error{{/if}}">
                        <input class="form-control floating-label" data-name="name" type="text"
                               placeholder="{{_ 'forms_name'}}" value="{{name}}" data-hint="{{_ 'forms_kindergarten_name'}}">
                    </div>
                    <div class="form-group">
                        <textarea data-name="description" name="content" placeholder="{{_ 'forms_kindergarten_description'}}" >
                            {{description}}
                        </textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" readonly="" class="form-control floating-label" placeholder="{{_ 'forms_kindergarten_image'}}">
                        <input type="file" data-name="title-file" id="title-file" multiple="">
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-2 col-lg-offset-10">
                            <button type="submit" class="btn btn-primary">{{_ 'submit'}}</button>
                        </div>
                    </div>
                 </fieldset>
            </form>
        </div>
    </div>
</template>