<template name="Kindergarten">
    <div class="row">
        <div class="col-md-12">
            <div class="master">
                <h1>{{name}}</h1>
                <div class="row">
                    <div class="col-md-12 ">
                        <h2>{{_ 'bids'}}</h2>
                        {{> reactiveTable settings=settings}}
                    </div>
                </div>
                <div class="image-container">
                     <img src="{{image.url store='images'}}">
                </div>
                <div class="columns">
                     <p>{{#markdown}}{{description}}{{/markdown}}</p>
                </div>
            </div>
        </div>
    </div>
</template>